---
import Layout from "../layouts/Layout.astro";
import Land from "../components/Land.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Oriol Marquès No">
  <main id="home">
    <Land />
    <About />
    <Projects />
    <Contact />
  </main>

  <style>
    main {
    }
  </style>
</Layout>
