<section
  class="w-full mx-auto lg:[740px] flex justify-center flex-col items-center animate-fade-in"
>
  <h2
    class="bg-gradient-to-r from-white via-white to-gray-600 inline-block text-transparent bg-clip-text text-4xl"
  >
    Un poco <b>sobre mi</b>
  </h2>
  <article class="mt-20 flex">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-gray-300 dark:[&>p>strong]:text-gray-400 text-pretty order-2 md:order-1 w-[650px] mr-20"
    >
      <p>
        Me llamo Oriol Marquès No, soy un desarrollador web con <strong
          >más de 3 años de experiencia</strong
        > en el sector.
      </p>
      <p>
        Desde que empecé a programar, he trabajado en varios proyectos
        <strong> de la mano de grandes empresas</strong> y he aprendido mucho de
        cada uno de ellos.
      </p>
      <p>
        Desde pequeño me ha gustado la tecnología y siempre he querido
        <strong> aprender más sobre ella</strong>. Por eso, me he formado en
        diferentes lenguajes de programación y <strong
          >he trabajado en proyectos de todo tipo.</strong
        >
      </p>
      <p id="projects"></p>
    </div>

    <img
      width="200"
      height="200"
      src="/oriol.png"
      alt="Oriol Marquès No"
      class="order-1 object-cover w-[300px] h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
</section>
