---

---

<header class="fixed py-3 w-full z-50">
  <div class="w-[1520px] flex justify-between items-center m-auto">
    <div class="flex flex-row items-center">
      <h2 class="font-semibold ml-5">&#60;Oriol Marquès No/&#62;</h2>
    </div>
    <nav class="flex flex-row gap-x-10">
      <a href="#home" title="Go Home">Inicio</a>
      <a href="#about" title="Go About">Sobre mi</a>
      <a href="#projects" title="Go Projects">Proyectos</a>
      <a href="#contact" title="Go Contact">Contacto</a>
    </nav>
  </div>
</header>

<script>
  console.log(window.screenX);

  function enableParallax() {
    const header = document.querySelector("header");
    if (!header) return;
    const targets = document.querySelectorAll(".scroll");
    //
    const btns = document.querySelectorAll("a");
    const [home, about, projects, contact] = btns;

    function getBtn(n: number) {
      if (!header) return;
      console.log(n, [home, about, projects, contact]);
      btns.forEach((x) => {
        x.classList.remove("text-gray-400");
      });
      if (n < 40) home.classList.add("text-gray-400");
      else if (n < 112) about.classList.add("text-gray-400");
      else if (n < 152) projects.classList.add("text-gray-400");
      else if (n > 152) contact.classList.add("text-gray-400");
    }
    getBtn(0);

    window.addEventListener("scroll", () => {
      const offset = window.scrollY / 10;
      getBtn(offset);
      if (offset < 10) header.classList.remove("shadow-md", "bg-[#1f1f2e15]");
      else header.classList.add("shadow-md", "bg-[#1f1f2e15]");
    });
  }

  enableParallax();
</script>
